@import "tailwindcss";

@theme {
    --color-primary-light: #ff99d1;
    --color-primary: #ff0695;
    --color-primary-dark: #a80060;

    --color-theme-blue: #383acf;
    --color-theme-blue-light: #66dfff;
    --color-theme-cyan: #61e2e5;
    --color-theme-green: #2b8364;
    --color-theme-green-light: #98d354;
    --font-special: 'Amertha', sans-serif;
}

:root {
    /* Colores basados en el PDF de branding */
    --color-primary-light: #FF9FCE;
    --color-primary: #FF007F;
    --color-cian: #00FFFF;
    --color-green: #00FF00;
    --color-green-light: #90EE90;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* Definición de la fuente especial (Amersa) */
@font-face {
    font-family: "Special"; /* Nombre genérico para la fuente Amersa [31] */
    src: url("/fonts/amersa.woff2") format("woff2"); 
    font-weight: 400;
    font-style: normal;
    font-display: swap; 
}