---
import LeafletMap from "@/components/LeafletMap.astro";
import {MAP_STYLES} from "@/consts/mapStyles.js"

---

<section id="mapa">
    <LeafletMap latitude={40.4567331} longitude={-3.9909907} zoom={10} container="mapa"/>
</section>